#Virtual Envs, I recommend using your own venv and install reqs
venv/
env/
Env/
.venv



#We don't wanna clutter github
data/
_out/
*.zip
processed/
raw/
results/

#Misc.

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
